html, body {
  background: #333;
}

.loSlide {
    padding: 0;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.loSlide * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.slide-container {
  opacity: 0;
  transition: opacity 1s;
  top: 0;
  position: absolute;
}

img.lozad {
  width: 400px;
  height: 300px;
  display: none;
  top: 0;
  position: absolute;
}

input:checked + .slide-container {
  opacity: 1;
  z-index: 1;
  display: block;
}

img.lozad[data-loaded="true"], input:checked+ .slide-container img {
  display: block;
}

.loSlide input {
  z-index: 2;
  float:left;
  top: 250px;
  left: 44px;
  width: 32px;
  height: 32px;
  margin: 10px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
}

.loSlide input:hover {
	cursor: pointer;
}